@import './theme-placeholders.css';
@import '../layouts/ly-reportage-2cols.css';

/*
La danza improvisada
*/

.tm-reportage-23 {
    --accent-color: hsl(250, 100%, 66%);
	& .reportage-subtitle {
		color: var(--accent-color);
	}

	& .reportage-body {
		&::before {
			content: '';
			display: block;
			height: 60vh;
			background-image: var(--main-image);
			background-size: cover;
			background-position: center;
			grid-column: 1 / -1;
		}

		& img {
			border-bottom: solid 8px var(--accent-color);
		}
	}
}
