.collaborate {
	@extend %sans-1;

	& a {
		border: dashed 1px;
		padding: 1em;
		text-decoration: none;
		text-shadow: none;
		box-shadow: none;
		display: inline-block;

		&:hover {
			background-color: var(--foreground-color);
			color: var(--background-color);
			border-style: solid;
		}
	}
}