.ephemeris {
	padding-top: var(--size-gap-rows);
}
.ephemeris-content {
	display: flex;
	max-width: 56rem;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	padding-top: 1em;

	& .icon {
		flex: 0 0 auto;
		margin-right: 1em;
		margin-top: .3em;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 8em;
		border-top: solid 1px;
	}
}
.ephemeris-text {
	@extend %sans-1;

	& p {
		margin-top: 0;
	}
}