.subscription {
    display: flex;
}

.subscription-newsletter {
    height: 4rem;
    line-height: 1;

    @media (--from-width-1) {
        border-left: none;
        border-bottom: none;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}