/* Image horizontal (5/4) */
.ly-artwork.is-125 {
    padding-top: 4rem;
    grid-template-areas: '. . .'
                         '. header .'
                         'figure figure figure'
                         '. nav .'
                         '. content .'
                         '. . .';

    @media (--from-width-2) {
        grid-template-areas: '. . .'
                         '. header .'
                         '. figure .'
                         '. nav .'
                         '. content .'
                         '. . .';
    }

    @media (--from-width-3) {
        grid-template-columns: 0 1fr minmax(auto, 18rem) 0;
        grid-template-areas: '. header header .'
                             '. figure nav .'
                             '. content content .'
                             '. . . .';

        & .ly-artwork-nav > footer {
            position: sticky;
        }

        & .ly-artwork-header {
            text-align: left;
            justify-self: flex-start;
        }
    }

    @media (--from-width-4) and (min-aspect-ratio: 7/4) {
        padding-top: 0;
        grid-template-columns: auto 1fr 0;
        grid-template-areas: 'figure . .'
                             'figure header .'
                             'figure nav .'
                             'figure content .'
                             'figure . .';

        & .ly-artwork-header {
            padding-top: calc(4rem + var(--size-gap-rows));
            padding-bottom: 4rem;
        }

        & .ly-artwork-figure {
            width: var(--image-ratio);
            max-width: calc(100vw - 32rem);

            & img {
                height: 100vh;
                object-fit: cover;
            }

            & figure {
                position: sticky;
                top: 0;
            }
        }

        & .ly-artwork-nav > footer {
            position: static;
        }
    }

    @media (--from-width-5) and (min-aspect-ratio: 12/4) {
        grid-template-columns: auto 1fr minmax(auto, 18rem) 0;
        grid-template-areas: 'figure . . .'
                             'figure header header .'
                             'figure content nav .'
                             'figure . . .';

        & .ly-artwork-nav > footer {
            position: sticky;
        }
    }
}
